
<section class="container d-flex flex-column align-items-center py-4" id="post_{{post.id}}">
  <div
    class="card shadow-sm border-0 rounded-4 overflow-hidden mb-4"
    style="max-width: 900px; width: 100%; min-height: 300px;"
  >
    <div class="row g-0 h-100">
      <div class="col-md-4">
        <img
          src="{{ post.image.url }}"
          class="img-fluid h-100 w-100"
          style="object-fit: cover"
          alt="Blog Image"
        />
      </div>

      <div
        class="col-md-8 d-flex flex-column justify-content-between p-4 bg-light"
      >
        <div>
          <h4 class="mb-1">
            <a
              href="{% url 'detail_blog' post.id %}"
              class="text-decoration-none text-dark"
            >
              {{ post.title }}
            </a>
          </h4>
          <h6 class="text-muted fst-italic mb-2">{{ post.subtitle }}</h6>
          <h6 class="text-muted mb-3">
            By: {{ post.author.username.capitalize }}
          </h6>

          <p class="text-muted text-3-lines my-2" style="font-size: 0.95rem">
            {{ post.content }}
          </p>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <a
            href="{% url 'detail_blog' post.id %}"
            class="btn btn-outline-primary"
          >
            Read More →
          </a>

          <span>
            {{likes}}
            <a href="{% url 'like_post' post.id %}">
            <i class="bi bi-hand-thumbs-up{% if post.is_liked_by_user %}-fill{% endif %}" id="like-btn-{{ post.id }}" ></i>
            </a>
            <strong id="like-count-{{ post.id }}">
              {{ post.get_total_likes }}
            </strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


