{% extends 'base/base.html' %}


{% block content %}


<div class="container-fluid text-center"  > 
    <div id="titlebgcolor" style="height: 300px;" >
    <div class="row p-4" >
<h2 class="title">Craft Your Story, Rule Your Space</h2>
</div>
<a href="{% url 'create_blog' %}" class="btn btn-warning">Create Blog</a>

</div>
</div>

<section class="container-fluid">
    {% for post in posts %}
    <article class="">
        <h5>
            <a href="{% url 'detail_blog' post.id %}">
                {{post.title}}
            </a>
        </h5>
        <p>
            By:{{post.author.username.capitalize}}
        </p>

        {% if user.id == post.author.id %}
        <a href="{% url 'edit_blog' post.id %}" class="btn btn-warning">Edit Blog</a>
        <a href="{% url 'delete_blog' post.id %}" class="btn btn-warning">Delete Blog</a>
   {% endif %}
 


    </article>
    {% endfor %}
</section>
{% endblock %}