{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container">

<!-- icons -->
    
<div class="row gx-2 gy-2 align-items-center p-2">
    <div class="col-sm">
        <a href=# class="btn btn-secondary btn-sm float-end">
            Support <i class="bi bi-envelope-at"></i>
        </a>
    </div>
</div>



    <!-- goback btn -->
<div class="row my-4 ">
    <div class="col">
<a href="{% url 'homepage' %}" class="btn btn-danger">Go Back</a>
</div>
</div>

<!-- post details -->

    <div class="row mt-4 post-content" >
        <div class="col-sm-4">
            <img src="{{post.image.url}}" class="w-100 card-img py-3 px-3 " alt="">
        </div>

        <div class="col-sm-8">  
            <h3 class="text-center">
                {{post.title}}  By: {{post.author}} 
            </h3>
            
            <h4 class="">
               {{ post.subtitle}}
            </h4>

            <div class=" px-3 py-3 my-4 border text-start contentBody">
                {{post.content}}
            </div>

            <!-- delete/edit button -->
            {% if user.id == post.author.id %}
            <div class="row  mx-1">
                <div class="col-sm-2 text-center ">
                    <a href="{% url 'edit_blog' post.id %}" class="btn btn-warning my-3">Edit <i class="bi bi-pen"></i></a>
                </div>

                <div class="col-sm-2 text-center">
                    <a href="{% url 'delete_blog' post.id %}" class="w-80 btn btn-danger my-3">Delete <i class="bi bi-trash-fill"></i></a>
                </div>

            </div>
               {% endif %}
        </div>
    </div>

 <!-- comment section -->
    <div class="mt-4">
        <form method="post" action="{% url 'add_comment' post.id %}"  >
            {% csrf_token %}
            {{comment_form.as_p}}

            <button type="submit" class="btn btn-primary mx-4">Add Comment</button>
        </form>
    </div>
   
     <section id = "comments">
        
        <div class="col">
        {% for comment in post_comments %}

        <div class="row my-2">
            
            {{comment.body}} : 
                {% if post.author == user %}
                    Author
                    <a href="">delete</a>
                {% else %}
                    {{comment.author.username.capitalize}}
                {% endif %}
        </div>

        {% endfor %}
     </div>

     </section>
     

</div>


{% endblock %}

