{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <!-- goback btn -->
<div class="row my-4 ">
    <div class="col">
<a href="{% url 'homepage' %}" class="btn btn-danger">Go Back</a>
</div>
</div>

<!-- post details -->

    <div class="row mt-4 post-content" >
        <div class="col-sm-4">
            <img src="{{post.image.url}}" class="w-100 card-img py-3 px-3 " alt="">
        </div>

        <div class="col-sm-8">  
            <h3 class="text-center">
                {{post.title}}  By:  <span style="color: #3A0519;">{{post.author}} </span>
            </h3>
            
            <h4 class="text-center">
               {{ post.subtitle}}
            </h4>

            <div class=" px-3 py-3 my-4 border text-start contentBody">
                {{post.content}}
            </div>

            <!-- delete/edit button -->
            {% if user.id == post.author.id %}
            <div class="row  mx-1">
                <div class="col-sm-2 text-center ">
                    <a href="{% url 'edit_blog' post.id %}" class="btn btn-warning my-3">Edit <i class="bi bi-pen"></i></a>
                </div>

                <div class="col-sm-2 text-center">
                    <a href="{% url 'delete_blog' post.id %}" class="w-80 btn btn-danger my-3">Delete <i class="bi bi-trash-fill"></i></a>
                </div>

            </div>
               {% endif %}
        </div>
    </div>

 <!-- comment section -->
     


<div class="mt-4">
    <form method="post" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary mx-4">Add Comment</button>
    </form>
</div>

<section id="comments" class="mt-5">
    <div class="col">
        {% for comment in post_comments %}
        <div class="row my-2">
            <div class="d-flex align-items-center gap-2">
                
                {% if post.author == user %}
                    <strong>By Author</strong>
                {% else %}
                    <img src="{{ comment.author.user_profile.profile_picture.url }}" alt="Profile" height="25px" width="25px" class="rounded-circle border">
                    <strong>{{ comment.author.username|capfirst }}</strong>
                {% endif %}
                
                <span class="ms-2">{{ comment.body }}</span>

                {% if comment.author == user %}
                    <a href="{% url 'delete_comment' comment.id %}" class="btn btn-sm btn-link text-danger ms-auto text-decoration-none">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

</div>


{% endblock %}

